<div class="landing-page-container">
    <div class="landing-page-title">
        <h1>Welcom In SnapFace</h1>
        <p>here is the best place to share your facesnaps</p>
        <img  src="https://user.oc-static.com/upload/2021/11/11/16366495596929_snapface.png"/>
    </div>

    <div>
        <button (click)="onContinue()" >
            <h3>See all the faceSnaps</h3>
        </button>
        <button (click)="onAddFaceSnap()" >
            <h3>ajouter un facesnap</h3>
        </button>
    </div>
</div>
